window#waybar {
    background: transparent;
}

/* Floating Sections */
.modules-left,
.modules-center,
.modules-right {
    background: #111318;
    color: #e2e2e9;
    border-radius: 14px;
    padding: 4px 14px;
    margin: 6px;
}

/* Workspaces */
#workspaces button {
    padding: 0 8px;
    border-radius: 10px;
    margin: 0 3px;
    color: #e2e2e9;
}

#workspaces button.active {
    background: #aec6ff;
    color: #112f60;
}

/* Clock */
#clock {
    font-weight: bold;
    color: #bfc6dc;
    margin: 0 8px;
}

/* Network */
#network {
    color: #debcdf;
    margin-right: 12px;   /* spacing before volume */
}

/* Volume */
#pulseaudio {
    color: #aec6ff;
    margin-left: 4px;
    padding: 0 6px;
    border-radius: 8px;
}

#pulseaudio:hover {
    background: #2b4678;
}
