window#waybar {
    background: transparent;
}

/* Floating Sections */
.modules-left,
.modules-center,
.modules-right {
    background: #18120b;
    color: #ede0d4;
    border-radius: 14px;
    padding: 4px 14px;
    margin: 6px;
}

/* Workspaces */
#workspaces button {
    padding: 0 8px;
    border-radius: 10px;
    margin: 0 3px;
    color: #ede0d4;
}

#workspaces button.active {
    background: #f5bd6f;
    color: #452b00;
}

/* Clock */
#clock {
    font-weight: bold;
    color: #ddc2a1;
    margin: 0 8px;
}

/* Network */
#network {
    color: #b8cda1;
    margin-right: 12px;   /* spacing before volume */
}

/* Volume */
#pulseaudio {
    color: #f5bd6f;
    margin-left: 4px;
    padding: 0 6px;
    border-radius: 8px;
}

#pulseaudio:hover {
    background: #633f00;
}
