window#waybar {
    background: transparent;
}

/* Floating Sections */
.modules-left,
.modules-center,
.modules-right {
    background: #111418;
    color: #e1e2e8;
    border-radius: 14px;
    padding: 4px 14px;
    margin: 6px;
}

/* Workspaces */
#workspaces button {
    padding: 0 8px;
    border-radius: 10px;
    margin: 0 3px;
    color: #e1e2e8;
}

#workspaces button.active {
    background: #a0cafd;
    color: #003258;
}

/* Clock */
#clock {
    font-weight: bold;
    color: #bbc7db;
    margin: 0 8px;
}

/* Network */
#network {
    color: #d6bee4;
    margin-right: 12px;   /* spacing before volume */
}

/* Volume */
#pulseaudio {
    color: #a0cafd;
    margin-left: 4px;
    padding: 0 6px;
    border-radius: 8px;
}

#pulseaudio:hover {
    background: #194975;
}
