window#waybar {
    background: transparent;
}

/* Floating Sections */
.modules-left,
.modules-center,
.modules-right {
    background: #1a110e;
    color: #f1dfd9;
    border-radius: 14px;
    padding: 4px 14px;
    margin: 6px;
}

/* Workspaces */
#workspaces button {
    padding: 0 8px;
    border-radius: 10px;
    margin: 0 3px;
    color: #f1dfd9;
}

#workspaces button.active {
    background: #ffb597;
    color: #552107;
}

/* Clock */
#clock {
    font-weight: bold;
    color: #e7beae;
    margin: 0 8px;
}

/* Network */
#network {
    color: #d3c78f;
    margin-right: 12px;   /* spacing before volume */
}

/* Volume */
#pulseaudio {
    color: #ffb597;
    margin-left: 4px;
    padding: 0 6px;
    border-radius: 8px;
}

#pulseaudio:hover {
    background: #71361b;
}
