window#waybar {
    background: transparent;
}

/* Floating Sections */
.modules-left,
.modules-center,
.modules-right {
    background: #1a1110;
    color: #f1dfdc;
    border-radius: 14px;
    padding: 4px 14px;
    margin: 6px;
}

/* Workspaces */
#workspaces button {
    padding: 0 8px;
    border-radius: 10px;
    margin: 0 3px;
    color: #f1dfdc;
}

#workspaces button.active {
    background: #ffb4a8;
    color: #561e16;
}

/* Clock */
#clock {
    font-weight: bold;
    color: #e7bdb6;
    margin: 0 8px;
}

/* Network */
#network {
    color: #dec48c;
    margin-right: 12px;   /* spacing before volume */
}

/* Volume */
#pulseaudio {
    color: #ffb4a8;
    margin-left: 4px;
    padding: 0 6px;
    border-radius: 8px;
}

#pulseaudio:hover {
    background: #73342b;
}
