window#waybar {
    background: transparent;
}

/* Floating Sections */
.modules-left,
.modules-center,
.modules-right {
    background: #18120c;
    color: #ede0d4;
    border-radius: 14px;
    padding: 4px 14px;
    margin: 6px;
}

/* Workspaces */
#workspaces button {
    padding: 0 8px;
    border-radius: 10px;
    margin: 0 3px;
    color: #ede0d4;
}

#workspaces button.active {
    background: #f6bc70;
    color: #462a00;
}

/* Clock */
#clock {
    font-weight: bold;
    color: #dec2a2;
    margin: 0 8px;
}

/* Network */
#network {
    color: #bacd9f;
    margin-right: 12px;   /* spacing before volume */
}

/* Volume */
#pulseaudio {
    color: #f6bc70;
    margin-left: 4px;
    padding: 0 6px;
    border-radius: 8px;
}

#pulseaudio:hover {
    background: #643f00;
}
