window#waybar {
    background: transparent;
}

/* Floating Sections */
.modules-left,
.modules-center,
.modules-right {
    background: #19120c;
    color: #eee0d5;
    border-radius: 14px;
    padding: 4px 14px;
    margin: 6px;
}

/* Workspaces */
#workspaces button {
    padding: 0 8px;
    border-radius: 10px;
    margin: 0 3px;
    color: #eee0d5;
}

#workspaces button.active {
    background: #fcb974;
    color: #492900;
}

/* Clock */
#clock {
    font-weight: bold;
    color: #e1c1a3;
    margin: 0 8px;
}

/* Network */
#network {
    color: #bfcc9b;
    margin-right: 12px;   /* spacing before volume */
}

/* Volume */
#pulseaudio {
    color: #fcb974;
    margin-left: 4px;
    padding: 0 6px;
    border-radius: 8px;
}

#pulseaudio:hover {
    background: #693c00;
}
