window#waybar {
    background: transparent;
}

/* Floating Sections */
.modules-left,
.modules-center,
.modules-right {
    background: #0e1415;
    color: #dee3e4;
    border-radius: 14px;
    padding: 4px 14px;
    margin: 6px;
}

/* Workspaces */
#workspaces button {
    padding: 0 8px;
    border-radius: 10px;
    margin: 0 3px;
    color: #dee3e4;
}

#workspaces button.active {
    background: #81d3df;
    color: #00363c;
}

/* Clock */
#clock {
    font-weight: bold;
    color: #b1cbd0;
    margin: 0 8px;
}

/* Network */
#network {
    color: #bac6ea;
    margin-right: 12px;   /* spacing before volume */
}

/* Volume */
#pulseaudio {
    color: #81d3df;
    margin-left: 4px;
    padding: 0 6px;
    border-radius: 8px;
}

#pulseaudio:hover {
    background: #004f57;
}
