window#waybar {
    background: transparent;
}

/* Floating Sections */
.modules-left,
.modules-center,
.modules-right {
    background: #101417;
    color: #e0e3e8;
    border-radius: 14px;
    padding: 4px 14px;
    margin: 6px;
}

/* Workspaces */
#workspaces button {
    padding: 0 8px;
    border-radius: 10px;
    margin: 0 3px;
    color: #e0e3e8;
}

#workspaces button.active {
    background: #97ccf9;
    color: #003450;
}

/* Clock */
#clock {
    font-weight: bold;
    color: #b8c8d9;
    margin: 0 8px;
}

/* Network */
#network {
    color: #d0bfe8;
    margin-right: 12px;   /* spacing before volume */
}

/* Volume */
#pulseaudio {
    color: #97ccf9;
    margin-left: 4px;
    padding: 0 6px;
    border-radius: 8px;
}

#pulseaudio:hover {
    background: #014b71;
}
