window#waybar {
    background: transparent;
}

/* Floating Sections */
.modules-left,
.modules-center,
.modules-right {
    background: #191112;
    color: #f0dee0;
    border-radius: 14px;
    padding: 4px 14px;
    margin: 6px;
}

/* Workspaces */
#workspaces button {
    padding: 0 8px;
    border-radius: 10px;
    margin: 0 3px;
    color: #f0dee0;
}

#workspaces button.active {
    background: #ffb2bf;
    color: #561d2b;
}

/* Clock */
#clock {
    font-weight: bold;
    color: #e4bdc2;
    margin: 0 8px;
}

/* Network */
#network {
    color: #ebbe90;
    margin-right: 12px;   /* spacing before volume */
}

/* Volume */
#pulseaudio {
    color: #ffb2bf;
    margin-left: 4px;
    padding: 0 6px;
    border-radius: 8px;
}

#pulseaudio:hover {
    background: #713341;
}
